<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @note.pages %>
</p>

<p>
  <strong>Source:</strong>
  <%= @note.source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @note.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @note.url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @note.date %>
</p>

<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-default", role: "button" %> |
<%= link_to 'Back', notes_path, class: "btn btn-default", role: "button" %>
