<div id="scoreviewNav" style="position:fixed;right:5px;top:50px;font-size:2em;">
<a class="btn btn-default"  href="<%= @previousPageURL %>"><</a>
<a class="btn btn-default" href="<%= @forwardPageURL %>">></a>
</div>

<div id="imageContainer" style="position:relative;">

<img id="centralImage" src="<%= @URL %>" alt="Score Page">

<div id="gridContainer" style="position:absolute;width:100%;height:100%;top:0px;left:0px;z-index:1;">
</div>

</div>

<div id="previousNotes">
<% @previousNotes.each do |individualNote| %>
<div id="popNote<%= individualNote.xcoordinate %>-<%= individualNote.ycoordinate =%>" class="previousPopNote">
<div class="previousPopNoteInfo">
<h4>Measure(s)</h4>
<h5><%= individualNote.measure %></h5>
<h4>Note</h4>
<h5><%= individualNote.note %></h5>
</div>
</div>
<% end %>
</div>


