<div id="scoreviewNav">
<a class="btn btn-default"  href="<%= @previousPageURL %>"><</a>
<a class="btn btn-default" href="<%= @forwardPageURL %>">></a>
</div>

<div id="imageContainer">

<img id="central-image" src="<%= @URL %>" alt="Score Page">

<div id="grid-container">
</div>

</div>

<div id="previousNotes">
<% @previousNotes.each do |individualNote| %>
<div id="popNote<%= individualNote.xcoordinate %>-<%= individualNote.ycoordinate =%>" class="previousPopNote">
<div class="previousPopNoteInfo">
<h4>Measure(s)</h4>
<h5><%= individualNote.measure %></h5>
<h4>Note</h4>
<h5><%= individualNote.note %></h5>
</div>
</div>
<% end %>
</div>


