<%= form_for(@song_note) do |f| %>
  <% if @song_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song_note.errors.count, "error") %> prohibited this songnote from being saved:</h2>

      <ul>
      <% @song_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field song-note-hide">
    <%= f.label :songtitle %><br>
    <%= f.text_field :songtitle %>
  </div>
  <div class="field song-note-hide">
    <%= f.label :page %><br>
    <%= f.text_field :page %>
  </div>
  <div class="field song-note-hide">
    <%= f.label :xcoordinate %><br>
    <%= f.text_field :xcoordinate %>
  </div>
  <div class="field song-note-hide">
    <%= f.label :ycoordinate %><br>
    <%= f.text_field :ycoordinate %>
  </div>
  <div class="field">
    <%= f.label :measure %><br>
    <%= f.text_field :measure %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit "Update note", class: "btn btn-primary" %>
  </div>
<% end %>
