<div id="scoreview-nav">
<a class="btn btn-default"  href="<%= @previousPageURL %>"><</a>
<a class="btn btn-default" href="<%= @forwardPageURL %>">></a>
</div>

<div id="score-edit-current-page-information">
<div id="notesDefaultSongTitle">
<%= @songTitle %>
</div>
<div id="notesDefaultSongPage">
<%= @pageNumber %>
</div>

</div>


<div id="image-container">

<img id="central-image" src="<%= @URL %>" alt="Score Page">

<div id="grid-container">
</div>

</div>

<div id="form-template">

<%= render 'form' %>

</div>

<div id="previousNotes">
<% @previousNotes.each do |individualNote| %>

<div id="popNote<%= individualNote.xcoordinate %>-<%= individualNote.ycoordinate =%>" class="previous-pop-note">
<div class="previous-pop-note-info">
<h4>Measure(s)</h4>
<h5><%= individualNote.measure %></h5>
<h4>Note</h4>
<h5><%= individualNote.note %></h5>
</div>
</div>
<% end %>
</div>

<!-- Controller specific patch -->

<script>

(function() {

  $(window).load(function() {
    return $(".gridPoint").click(function() {
      var l, template;
      if (!$(this).find('.pop').length) {
        l = $(this).attr('id');
        template = $('#form-template').html();
        $(this).append('<div class="pop" id="pop' + l + '"><div class="pop-info">' + template + '</div></div>');
        $('.pop .pop-info #new_songnote input#songnote_songtitle', this).val($('#notesDefaultSongTitle').html());
        $('.pop .pop-info #new_songnote input#songnote_page', this).val($('#notesDefaultSongPage').html());
        $('.pop .pop-info #new_songnote input#songnote_xcoordinate', this).val(l.match(/\d+/));
        return $('.pop .pop-info #new_songnote input#songnote_ycoordinate', this).val(l.match(/[^-]+$/));
      }
    });
  });

  /*
  	$( ".gridPoint" ).hover ->
  		m = $(this).attr('id')
  		console.log "This is the info for pop " + m
  */


}).call(this);</script>

