<div id="scoreviewNav">
<a class="btn btn-default"  href="<%= @previousPageURL %>"><</a>
<a class="btn btn-default" href="<%= @forwardPageURL %>">></a>
</div>

<div id="scoreEditCurrentPageInformation">
<div id="notesDefaultSongTitle">
<%= @songTitle %>
</div>
<div id="notesDefaultSongPage">
<%= @pageNumber %>
</div>

</div>


<div id="imageContainer">

<img id="centralImage" src="<%= @URL %>" alt="Score Page">

<div id="gridContainer">
</div>

</div>

<div id="formTemplate">

<%= render 'form' %>

</div>

<div id="previousNotes">
<% @previousNotes.each do |individualNote| %>

<div id="popNote<%= individualNote.xcoordinate %>-<%= individualNote.ycoordinate =%>" class="previousPopNote">
<div class="previousPopNoteInfo">
<h4>Measure(s)</h4>
<h5><%= individualNote.measure %></h5>
<h4>Note</h4>
<h5><%= individualNote.note %></h5>
</div>
</div>
<% end %>
</div>

<!-- Controller specific patch -->

<script>

(function() {

  $(window).load(function() {
    return $(".gridPoint").click(function() {
      var l;
      if (!$(this).find('.pop').length) {
        l = $(this).attr('id');
        return $(this).append('<div class="pop" id="pop' + l + '"><div class="popInfo"><form id="popform' + l + '"><input type="text" name="popInfoMeasures" placeholder="Measure(s)"><textarea rows="7" cols="30" name="popInfoNotes" placeholder="Notes..."></textarea><div class="actions">\
	    <input class="btn btn-primary" name="commit" type="submit" value="Update Note">\
	  </div></form></div></div>');
      }
    });
  });

  /*
  	$( ".gridPoint" ).hover ->
  		m = $(this).attr('id')
  		console.log "This is the info for pop " + m
  */


}).call(this);</script>

