<p id="notice"><%= notice %></p>

<p>
  <strong>Songtitle:</strong>
  <%= @song_note.songtitle %>
</p>

<p>
  <strong>Page:</strong>
  <%= @song_note.page %>
</p>

<p>
  <strong>Xcoordinate:</strong>
  <%= @song_note.xcoordinate %>
</p>

<p>
  <strong>Ycoordinate:</strong>
  <%= @song_note.ycoordinate %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @song_note.measure %>
</p>

<p>
  <strong>Note:</strong>
  <%= @song_note.note %>
</p>

<%= link_to 'Edit', edit_songnote_path(@song_note), class: "btn btn-default", role: "button" %> |
<%= link_to 'Back to the Index', songnotes_path, class: "btn btn-default", role: "button" %> |
<%= link_to 'Back to the score', "/pieces/#{Piece.find_by_title(@song_note.songtitle).id}/#{@song_note.page}", class: "btn btn-default", role: "button" %>

