<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default", role: "button" %> |
<%= link_to 'Back', events_path, class: "btn btn-default", role: "button" %>
