<h1>Listing pieces</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Composer</th>
      <th>Author</th>
      <th>Date</th>
      <th>Opus</th>
      <th>Pages</th>
      <th>Position in cycle</th>
      <th>Image URLs</th>
      <th>Original Text</th>
      <th>Transliteration Text</th>
      <th>Translation Text</th>
      <th>Score Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pieces.each do |piece| %>
      <tr>
        <td><%= piece.title %></td>
        <td><%= piece.composer %></td>
        <td><%= piece.author %></td>
        <td><%= piece.date %></td>
        <td><%= piece.opus %></td>
        <td><%= piece.pages %></td>
        <td><%= piece.positionincycle %></td>
        <td><%= piece.imageURLs %></td>
        <td><%= piece.originalText %></td>
        <td><%= piece.transliterationText %></td>
        <td><%= piece.translationText %></td>
	<td><%=link_to "Edit score", "/pieces/#{piece.id}/0", class: "btn btn-default", role: "button" %></td>
        <td><%= link_to 'Show', piece, class: "btn btn-default", role: "button" %></td>
        <td><%= link_to 'Edit', edit_piece_path(piece), class: "btn btn-default", role: "button" %></td>
        <td><%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece', new_piece_path, class: "btn btn-default", role: "button" %>
