<h1>Listing songs</h1>

<br>
<input type="text" name="searchField" placeholder="Search...">
<br>

<table class="table" id="infoTable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Opus</th>
      <th>Position in cycle</th>
      <th>Original Text</th>
      <th>Transliteration Text</th>
      <th>Translation Text</th>
      <th>Score Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pieces.each do |piece| %>
      <tr>
        <td><%= piece.title %></td>
        <td><%= piece.author %></td>
        <td><%= piece.date.to_s.gsub('-01-01', '') %></td>
        <td><%= piece.opus %></td>
        <td><%= piece.positionincycle %></td>
        <td><%= piece.originalText %></td>
        <td><%= piece.transliterationText %></td>
        <td><%= piece.translationText %></td>
	<td><%=link_to "View score", "/songs/#{piece.id}/0", class: "btn btn-default", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

